<ion-toolbar>
	<button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>Welcome</ion-title>
</ion-toolbar>

<ion-content class="home">

	<base-chart class="chart"
				[datasets]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[colors]="lineChartColours"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"></base-chart>

	<ion-list inset>
		<ion-item>
			<ion-label>Username</ion-label>
			<ion-input [(ngModel)]="email" type="text" (change)="onChange()"></ion-input>
		</ion-item>
	</ion-list>
	<div padding>
		<button block (click)="getRepos()">Search</button>
	</div>



	<ion-card *ngFor="let lesson of lessons" (click)="goToLesson(lesson)">
		<ion-card-header>
			{{ lesson.title }}
		</ion-card-header>
		<ion-card-content>
			{{ lesson.description }}
			<div *ngIf="lesson.showIn > 0">Available in {{lesson.showIn}}ms</div> 
		</ion-card-content>
	</ion-card>

	<ion-item>
		<ion-label fixed>Website</ion-label>
		<ion-input maxlength="1" type="number"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Rating</ion-label>

	</ion-item>

	<form>
		<ion-input maxlength="1" type="number" [(ngModel)]="range" ngControl="rangeCtrl"></ion-input>
		<input class="range" type="range" name="lname" [(ngModel)]="range" (change)="onChange()" max=5>

	</form>

	<ion-item>
		<ion-label floating>Username</ion-label>
		<ion-input type="text"></ion-input>
		<ion-input type="range"></ion-input>
	</ion-item>


	<ion-list>
		<ion-item>
			<ion-label>Toppings</ion-label>
			<ion-select [(ngModel)]="toppings" multiple="true" cancelText="Nah" okText="Okay!">
				<ion-option value="bacon" checked="true">Bacon</ion-option>
				<ion-option value="olives">Black Olives</ion-option>
				<ion-option value="xcheese" checked="true">Extra Cheese</ion-option>
				<ion-option value="peppers">Green Peppers</ion-option>
				<ion-option value="mushrooms">Mushrooms</ion-option>
				<ion-option value="onions">Onions</ion-option>
				<ion-option value="pepperoni">Pepperoni</ion-option>
				<ion-option value="pineapple">Pineapple</ion-option>
				<ion-option value="sausage">Sausage</ion-option>
				<ion-option value="Spinach">Spinach</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>


	<ion-card>
		<ion-list>
			<ion-item>
				<ion-label>hey</ion-label>
				<ion-checkbox [(ngModel)]="hey"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>whats</ion-label>
				<ion-checkbox [(ngModel)]="whats" disabled="true"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>up</ion-label>
				<ion-checkbox [(ngModel)]="up"></ion-checkbox>
			</ion-item>

		</ion-list>
	</ion-card>
</ion-content>

<button menuToggle>
	<ion-icon name="home"></ion-icon>Toggle Menu</button>